body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-atividades{
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}